.nav {
    margin-right: auto;
    margin-left: auto;
}

.footer {
    margin-right: auto;
    margin-left: auto;
    height: 60px;
    line-height: 26px;
    text-align: center;
    background-color: #eee;
    color: #666;
    font-weight: 300;
}

.footer a {
    padding: 0 5px;
}

.footer p {
    padding: 0;
    margin: 0;
    font-size: 14px;
}

.main-body {
    box-sizing: border-box;
    padding: 15px;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    min-height: calc(100vh - 121px);
    background-color: white;

}

@media (min-width: 360px) {
    .main-body, footer, .nav {
        max-width: 355px
    }
}

@media (min-width: 500px) {
    .main-body, .footer, .nav {
        max-width: 485px
    }
}

@media (min-width: 640px) {
    .main-body, .footer, .nav {
        max-width: 635px
    }
}

@media (min-width: 768px) {
    .main-body, .footer, .nav {
        max-width: 750px
    }
}

@media (min-width: 992px) {
    .main-body, .footer, .nav {
        max-width: 970px
    }
}

@media (min-width: 1200px) {
    .main-body, .footer, .nav {
        width: 1170px
    }
}

.background-div {
    margin: 0;
    width: 100%;
    min-height: 100%
}

.background-img {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-Index: -1;
    opacity: 0.8;
    filter: alpha(opacity=80);
}
